:root {
    --bg-color: hsl(0, 0%, 16%);
    --bg-elem-color: hsl(0, 0%, 32%);
    --fg-color: hsl(0, 0%, 86%);

    --main-color: hsl(6, 66%, 20%);

    --tiny-gap: 0.25rem;
    --small-gap: 0.5rem;
    --normal-gap: 1rem;
    --large-gap: 2rem;
}

body {
    margin: 0;
    padding: 0;

    display: grid;
    grid-template: 100svh / 100svw;

    color: var(--fg-color);
    background: var(--bg-color);
}

button,
input {
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    color: var(--fg-color);
    background-color: var(--bg-elem-color);
}

button {
    cursor: pointer;

    &:hover {
        background-color: var(--main-color);
        color: var(--fg-color);
    }
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    border-bottom: var(--tiny-gap) dashed var(--fg-color);
}