:root {
    --bg-100: hsl(278, 50%, 12%);
    
    --bg-200: hsl(from var(--bg-100) h s calc(l + 8));
    --bg-300: hsl(from var(--bg-200) h s calc(l + 8));
    --bg-400: hsl(from var(--bg-300) h s calc(l + 8));
    
    --fg-color: hsl(from var(--bg-100) h s calc(l + 80));
    --main-color: hsl(from var(--bg-100) calc(h + 180) s calc(l + 50));

    --tiny-gap: 0.25rem;
    --small-gap: 0.5rem;
    --normal-gap: 1rem;
    --large-gap: 2rem;

    --header-height: 8svh;
    --content-height: calc(100svh - var(--header-height));
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    display: grid;
    grid-template: var(--header-height) var(--content-height) / 100svw;

    color: var(--fg-color);
    background: var(--bg-color);
}

button,
input {
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
    color: var(--fg-color);
    background-color: var(--bg-400);
    border: 1px solid var(--bg-300-color)
}

button {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    gap: var(--small-gap);

    &:hover {
        background-color: var(--main-color);
        color: var(--bg-100);
    }

    &.round {
        aspect-ratio: 1;
        border-radius: var(--large-gap);
    }
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

dialog {
    padding: var(--normal-gap);
    color: var(--fg-color);
    border-color: var(--bg-100);
    border-radius: var(--tiny-gap);
    background-color: var(--bg-200);
}

@keyframes spin {
    100% { transform: rotate(360deg);}
}